body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content {
    display: flex;
}

.form {
    display: flex;
    
}